<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            I'm a full stack developer since 2013 when I started doing an internship for a little year.
            I've been working always on a small companies in a very small IT team, sometimes just me.
            So I had to be self-taught, learning from official documentations,
            <strong>this path has given to me the confidence to don't be afraid of a new things.</strong>
        </p>
        <p>
            I started working with PHP, going through Wordpress, Codeigniter, Magento2, Symfony and Laravel.
            Later I became interested in frontend frameworks trying react and vue.
            In addition I tried style frameworks like tailwindCSS, Vuetify and Quasar.
            <strong>Also I loved working with Astro which is the framework used for create this website :)</strong>
        </p>
        <p>
            I have always been interested in good programming practices, questioning the way things are done.
            <strong>Code should be readable, maintainable, testable and predictable.</strong>
            To accomplish that I read a lot about clean architectures as DDD and hexagonal architecture.
        </p>
    </div>
</article>
